<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tango.mapper.OrdersMapper">

    <insert id="createOrders" useGeneratedKeys="true" parameterType="org.tango.po.Orders"
            keyProperty="orderId" keyColumn="orderId">
        insert into orders
        values (null, #{userId}, #{businessId}, #{orderDate}, #{orderTotal}, #{daId}, 0)
    </insert>

    <resultMap type="org.tango.po.Orders" id="ordersResultMap">
        <id column="orderId" property="orderId"/>
        <result column="userId" property="userId"/>
        <result column="businessId" property="businessId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="orderTotal" property="orderTotal"/>
        <result column="daId" property="daId"/>
        <result column="orderState" property="orderState"/>
        <association property="business" javaType="org.tango.po.Business"
                     select="org.tango.mapper.BusinessMapper.getBusinessById"
                     column="businessId"/>
        <association property="da" javaType="org.tango.po.DeliveryAddress"
                     select="org.tango.mapper.DeliveryAddressMapper.getDeliveryAddressById"
                     column="daId"/>
        <collection property="odList" ofType="org.tango.po.OrderDetail"
                    select="org.tango.mapper.OrderDetailMapper.listOrderDetailByOrderId"
                    column="orderId"/>
    </resultMap>
    <select id="getOrdersById" parameterType="Integer" resultMap="ordersResultMap">
        select *
        from orders
        where orderId = #{orderId}
    </select>
    <select id="listOrdersByUserId" parameterType="String" resultMap="ordersResultMap">
        select *
        from orders
        where userId = #{userId}
        order by orderId
    </select>


</mapper>